<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714376165409-al30a4rv4fp6jakeqciua4qn1bp4bnr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714376165409-al30a4rv4fp6jakeqciua4qn1bp4bnr1</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Ww_Yru5V_foKUGpeQTInDkUw8XfkRDs</string>
	<key>GCM_SENDER_ID</key>
	<string>714376165409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.billzero.app</string>
	<key>PROJECT_ID</key>
	<string>prodbillzeroapp</string>
	<key>STORAGE_BUCKET</key>
	<string>prodbillzeroapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714376165409:ios:27a0fdd366e96d36d3cb60</string>
	<key>DATABASE_URL</key>
	<string>https://prodbillzeroapp.firebaseio.com</string>
</dict>
</plist>